@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rock+3D&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #eee;
  padding: 0;
  margin: 0;
}

.drumKit {
  background-image: url('../images/main.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.drumKitHeading {
  margin: 0;
  padding-top: 2rem;
  font-size: 6rem;
  color: lightgray;
  text-align: center;
  font-family: 'Rock 3D', cursive;
  user-select: none;
}

.main {
  min-height: 76.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.key {
  border: 3px solid black;
  border-radius: 5px;
  margin: 1rem;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  user-select: none;
}

.key:hover {
  cursor: pointer;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
}

.sound {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}

@media screen and (max-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .main {
    min-height: 76.3vh;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
